@use 'styles' as *;

.overlayWithIcon {
	@include flex-center;
	background: rgba(0, 0, 0, 0.75);
	cursor: pointer;
	height: 100%;
	opacity: 0;
	pointer-events: auto;
	position: absolute;
	@include opacity-transition;
	width: 100%;
	z-index: 1;

	&:hover,
	&.visible {
		opacity: 1;
	}

	svg {
		color: white;
		font-size: 40px;
	}
}
