@use 'styles' as *;

$gap: 12px;

.techCatalogueContent {
	border: solid 1px $primary-three;
	border-top: none;
}

.techCatalogueContentExpended {
	display: flex;
	flex-direction: column;
	gap: $gap;
	padding: $gap;
}

.techCatalogueContentCollapsed {
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
		list-style-type: none;
		margin: $gap;
		padding: 0;
	}
}
