@import '../../../styles/variables.scss';

$gap: 15px;

.techCatalogueContent {
	border: solid 1px $primary;
	border-top: none;
	padding: $gap;
}

.techCatalogueIcon {
	$iconW: 40px;
	height: $iconW;
	width: $iconW;
}

.techCatalogueIconCircle {
	border-radius: 50%;
}

.softwareCatalogueIconRounded {
	border-radius: 22%;
}

.techCatalogueHorizontal {
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}

.techCatalogueVertical {
	ul {
		$iconW: 40px;
		list-style: none;
		margin: 10px 0 0 0;
		padding: 0;

		li {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}

			a {
				text-decoration: none;
			}

			p {
				font-size: 14px;
				line-height: $iconW;
				line-height: 18px;
				margin: 0;
			}
		}
	}

	.techCatalogueIcon {
		margin-right: 10px;
	}
}
