@import '../responsive.scss';

.banner {
	overflow: hidden;
	position: relative;

	.banner-cont {
		left: 0;
		position: absolute;
		right: 0;
		z-index: 1;

		@include phone-down {
			top: 20px;
		}

		@include tablet-up {
			top: 90px;
		}

		h1 {
			margin: 0;

			@include phone-down {
				font-size: 20px;
			}

			@include tablet-up {
				font-size: 30px;
				margin-bottom: 10px;
			}
		}

		.btn {
			display: block;
			margin: 0 auto;

			@include phone-down {
				margin-top: 10px;
				width: 120px;
			}

			@include tablet-up {
				width: 200px;
				margin-top: 20px;
			}
		}

		.social-icons {
			margin: 20px auto;
		}
	}

	.banner-bg {
		background: $gray-three;
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 0;

		@include phone-down {
			@include opacity(0.5);
		}

		@include tablet-up {
			@include opacity(0.25);
		}
	}

	img.banner-pic {
		float: right;

		@include phone-down {
			height: 175px;
		}

		@include tablet-up {
			height: 350px;
		}
	}
}
