%boxed {
	margin: 0 auto;
	padding: 0 10px;
}

.boxed-sm,
.boxed,
.boxed-lg,
.boxed-xl {
	@extend %boxed;
}

.boxed-sm {
	max-width: 300px;
}

.boxed {
	max-width: 600px;
}

.boxed-lg {
	max-width: 900px;
}

.boxed-xl {
	max-width: 1024px;
}
