.btn {
	&.btn-primary {
		background: $primary;
		border: none;

		&:hover {
			background: $secondary;
		}
	}

	&.btn-secondary {
		background: $secondary;
		border: solid 3px $secondary;

		&:hover {
			background: $primary;
			border: solid 3px $secondary;
		}
	}
}
