.btn-primary {
	background: $primary;
	border: none;
	transition: background 0.3s ease;

	&:hover {
		background: $secondary;
	}
}

.btn-secondary {
	background: $secondary;
	border: none;
	transition: background 0.3s ease;

	&:hover {
		background: $primary;
	}
}
