#footer {
    background: @secondary;
    position: relative;
    height: 60px;
    p {
        margin: 0;
        line-height: 18px;
        @media (max-width: 499px) {
            width: 185px;
            margin: 0 auto;
            padding-top: 12px;
        }
        @media (min-width: 500px) {
            padding-top: 20px;
        }
    }
    i {
        position: absolute;
        right: 15px;
        top: 15px;
    }
}
#subFooter {
    background: @gray-two;
    padding: 20px;
    overflow: hidden;
    .social-icons {
        float: left;
    }
    a.contact-link {
        color: @white;
        line-height: 30px;
        margin-left: 20px;
    }
}
