#footer {
    background: @secondary;
    padding: 20px;
    p {
        margin: 0;
    }
}
#subFooter {
    background: @gray-two;
    padding: 20px;
    overflow: hidden;
    .social-icons {
        float: left;
    }
    a.contact-link {
        color: @white;
        line-height: 30px;
        margin-left: 20px;
    }
}
