form {
    margin-top: 20px;

    textarea {
        min-height: 150px;
    }

    textarea,
    input {
        &.form-control {
            color: @gray-one;
			height: 40px;
			padding: 10px 12px;
        }
    }

    .alert {
        border: none;

        &.alert-danger {
            color: @red-one;
            background: @red-two;
        }
    }
}
