#header {
    background: @secondary;
    color: @white;
    overflow: hidden;
    height: 60px;
    h1 {
        float: left;
        line-height: 60px;
        margin: 0;
        padding: 0;
        a {
            color: @white;
            text-decoration: none;
        }
    }
    .nav {
        float: right;
        li {
            line-height: 60px;
            float: left;
            a {
                font-weight: bold;
                padding: 0 20px;
                font-size: 20px;
                &:focus, &:hover, &.active {
                    background: @primary;
                    color: white;
                }
            }
        }
    }
}
