section {
	color: $white;
	padding: 20px;

	&.white {
		background: $white;
		color: $gray-three;
	}

	&.primary-one {
		background: $primary-one;
	}

	&.primary-two {
		background: $primary-two;
	}

	&.primary-three {
		background: $primary-three;
	}

	&.primary-four {
		background: $primary-four;
	}

	&.primary-five {
		background: $primary-five;
	}

	&.gray {
		background: $gray-three;
	}

	h2,
	h3 {
		font-weight: bold;
		margin: 0 0 20px;
		text-align: center;

		@include phone-down {
			font-size: 25px;
		}

		@include tablet-up {
			font-size: 30px;
		}
	}
}
