ul.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 30px;
    width: 110px;
    li {
        float: left;
        margin-right: 10px;
        &:last-child {
            margin: 0;
        }
        i {
            &:hover {
                background: @primary;
            }
        }
    }
}
