@use 'styles' as *;

.aiPoweredProjects {
	padding: 40px 0;
}

.aiInfoContainer {
	flex: 1;
}

.container {
	align-items: flex-start;
	display: flex;
	gap: 24px;

	@include phone-down {
		flex-direction: column;
	}
}

.content {
	@include phone-down {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
}

.imageContainer {
	margin-bottom: 20px;
}

.viewProjectButton {
	display: block;
	margin: 0 auto;
	width: fit-content;
}
