@import '../../../../styles/variables.scss';

$height: 50px;

a.contactLink {
	align-items: center;
	background: $gray-three;
	display: flex;
	height: $height;
	margin: 0 auto 20px;
	text-decoration: none;
	width: fit-content;

	&:hover {
		background: $gray-five;
	}

	p {
		color: $white;
		height: 100%;
		line-height: $height;
		margin: 0;
		padding: 0 20px;
	}

	&:hover {
		p {
			color: $gray-one;
		}
		img {
			opacity: 0.8;
		}
	}

	i {
		align-items: center;
		background: $blue-three;
		color: $white;
		display: flex;
		font-size: 20px;
		height: $height;
		justify-content: center;
		width: $height;
	}

	&:hover i {
		background: $blue-four;
	}
}
