@use 'styles' as *;

$height: 50px;

.contactLink {
	background: $gray-three;
	display: flex;
	height: $height;
	margin: 0 auto 20px;
	max-width: 300px;
	text-decoration: none;
	width: 100%;

	&:hover {
		opacity: 0.8;
	}

	p {
		color: $white;
		height: 100%;
		line-height: $height;
		margin: 0;
	}
}

.content {
	flex: 1;

	img {
		flex: 0 0 50px;
	}

	p {
		flex: 1;
	}
}

.icon {
	@extend %flex-center;
	background: $primary-four;
	flex: 0 0 $height;
	height: $height;
	width: $height;
}

.iconSvg {
	color: $white;
	font-size: 20px;
}
