@use 'styles' as *;
@use '../Filter.variables' as *;

.filterContainer {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: $filter-height;
	justify-content: center;
}

.content {
	flex: 1;
}
