@use 'styles' as *;

.filterContainer {
	align-items: center;
	border: solid 1px $gray-two;
	border: solid 2px red;
	display: flex;
	justify-content: space-between;
	padding: 10px;

	p {
		margin: 0;
	}
}

.content {
	align-items: center;
	display: flex;
}

.icon {
	cursor: pointer;
	font-size: 26px;
}
