@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

#container.projects {
	.line-item {
		display: flex;
		flex-direction: row;
		padding: 4px;
		position: relative;

		&:hover > .popup {
			display: block;
		}
	}
}
