@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

#container.projects {
	.project-item-line {
		display: flex;
		flex-direction: row;
		margin-bottom: 20px;
		padding: 4px;
		position: relative;

		&:hover > .popup {
			display: block;
		}

		.project-image-with-popup {
			flex: 0 0 250px;
		}
	}
}
