@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/responsive.scss';

#container.projects {
	.project-item-line {
		display: flex;
		flex-direction: row;
		margin-bottom: 20px;
		padding: 4px;
		position: relative;

		&:hover > .popup {
			display: block;
		}

		.project-image-with-popup {
			@include phone-down {
				flex: 0 0 150px;
			}

			@include tablet-up {
				flex: 0 0 250px;
			}
		}
	}
}
