@use 'styles' as *;

.carouselDot {
	background: rgba($white, 0.5);
	border: none;
	border-radius: 50%;
	cursor: pointer;
	height: 20px;
	padding: 0;
	transition: background 0.3s ease;
	width: 20px;

	&:hover {
		background: rgba($white, 0.2);
	}

	&.active {
		background: $white;
	}
}
