@import '../../../../styles/variables.scss';

.currentTechInterestsReadMore {
	color: $white;
}

.interestImage {
	border-radius: 8px;
	max-width: 350px;
	width: 100%;
}

.interestItem {
	flex: 0 0 100%;
	scroll-snap-align: center;
	text-align: left;
}
