.app-section {
  .app-description {
    text-align: center;
  }

  .app-icon {
    display: block;
    margin: 0 auto 10px;
  }

  .app-badges {
    align-items: center;
    display: flex;
    justify-content: center;

    img {
      width: auto;
    }
    img.apple-badge {
      height: 50px;
    }
    img.google-badge {
      height: 75px;
    }
  }

  p.copyright {
    text-align: center;
  }
}
