.hoki-skateboards {
	background: #1b2236;
	color: $white;
	padding: 20px;

	.hoki-skateboards-inner {
		margin: 0 auto;
		max-width: 600px;
	}

	@import './App.scss';
	@import './Content.scss';
	@import './Logo.scss';
	@import './SocialMedia.scss';
	@import './Title.scss';
}
