@use 'styles' as *;

.imageWrapper {
	@include flex-center;
	aspect-ratio: 1 / 1;
	background-color: black;
	position: relative;
	width: 100%;
}

.imageWrapperRect {
	aspect-ratio: unset;
}

.image {
	display: block;
	height: 100%;
	left: 0;
	object-fit: contain;
	position: absolute;
	top: 0;
	width: 100%;
}

.imageRect {
	height: auto;
	position: static;
}
