@use 'styles' as *;

$size: 50px;

.buttonIcon {
	@include border-radius(50%);
	align-items: center;
	background: black;
	border: none;
	box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.5);
	cursor: pointer;
	display: flex;
	height: $size;
	justify-content: center;
	width: $size;

	svg {
		color: $white;
		font-size: 40px;
	}

	&:hover {
		svg {
			color: $gray-one;
		}
	}
}
