@import '../../../../styles/variables.scss';

.howItsMadeLinks {
	align-items: center;
	display: flex;
	gap: 20px;
	justify-content: center;
	margin-bottom: 10px;
}

.howItsMadeLinkLabel {
	color: $blue-zero;
	font-size: 16px;
}

.howItsMadeLinkDescription {
	color: $gray-one;
	font-size: 12px;
}

.howItsMadeLink {
	align-items: center;
	color: $white;
	display: flex;
	flex-direction: column;
	text-decoration: none;

	i {
		font-size: 40px;
		margin-bottom: 10px;
	}

	&:hover {
		i {
			color: $gray-one;
		}

		.howItsMadeLinkLabel {
			color: $blue-one;
		}

		.howItsMadeLinkDescription {
			color: $gray-two;
		}
	}
}
