@import '../../../../styles/variables.scss';

.howItsMadeLinks {
	align-items: center;
	display: flex;
	gap: 20px;
	justify-content: center;
	margin-bottom: 10px;
}

.howItsMadeLink {
	align-items: center;
	color: $white;
	display: flex;
	flex-direction: column;
	text-decoration: none;

	i {
		font-size: 40px;
		margin-bottom: 10px;
	}
}

.how-its-made-link-label {
	color: $blue-one;
	font-size: 16px;
}

.how-its-made-link-description {
	color: $gray-one;
	font-size: 12px;
}
