@import '../../../styles/variables.scss';

.tech-catalogue-item {
	position: relative;
	width: fit-content;

	&[data-tooltip]:hover::after {
		background: rgba(0, 0, 0, 0.8);
		border-radius: 4px;
		color: $white;
		content: attr(data-tooltip);
		font-size: 12px;
		left: 50%;
		padding: 4px 8px;
		pointer-events: none;
		position: absolute;
		top: calc(100% + 6px);
		transform: translateX(-50%);
		white-space: nowrap;
		z-index: 10;
	}

	&[data-tooltip]:hover::before {
		border: 5px solid transparent;
		border-bottom-color: rgba(0, 0, 0, 0.8);
		content: '';
		left: 50%;
		pointer-events: none;
		position: absolute;
		top: calc(100% - 4px);
		transform: translateX(-50%);
		z-index: 10;
	}
}

.tech-catalogue-item-expanded {
	align-items: center;
	display: flex;
}
