@use 'styles' as *;

.buttonLink {
	background-color: $primary-three;
	border-radius: 8px;
	display: block;
	font-weight: bold;
	margin: 0 auto 20px;
	max-width: 200px;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.2s ease;

	&:hover {
		background-color: $primary-four;
	}
}
