.scholarships {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	img {
		margin-right: 10px;
		width: 50px;
	}

	a {
		color: black;
	}

	p.scholarshipDescription {
		font-size: 16px;
		text-align: left;
	}
}
