@import '../../../styles/variables.scss';

section.volunteer-component {
	h3 {
		margin: 0 0 10px 0;
	}

	h4 {
		color: $blue-one;
		font-size: 24px;
		margin: 0;
	}

	.volunteer-icon {
		color: $primary;
		font-size: 36px;
	}

	p {
		font-size: 16px;
		margin: 0;
	}
}
