@use 'styles' as *;

.volunteerComponent {
	h3 {
		color: $primary-zero;
		font-size: 24px;
	}

	p {
		font-size: 16px;
		margin: 0;
		text-align: center;
	}
}

.volunteerComponentSubtitle {
	font-size: 20px;
}

.leaderPositions {
	justify-content: center;
}
