@import '../../../styles/variables.scss';
@import '../../../styles/responsive.scss';

section.volunteer-component {
	h3 {
		color: $blue-one;
		font-size: 24px;
	}

	.volunteer-component-subtitle {
		font-size: 20px;
	}

	.volunteer-icon {
		color: $primary;
		font-size: 36px;
	}

	.leader-positions {
		justify-content: center;

		.leader-position {
			@include phone-down {
				margin-bottom: 15px;
			}
		}
	}

	p {
		font-size: 16px;
		margin: 0;
	}
}
