@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

#container.projects {
	.project-blurb {
		padding: 10px;

		p.company {
			font-size: 20px;
			font-weight: bold;
			margin: 0;
		}

		p.subtitle {
			font-size: 14px;
			font-weight: bold;
		}

		p.description {
			font-size: 14px;

			&.truncate {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
}
