@import '../../../../styles/variables.scss';

.howItsMadeList {
	display: block;
	list-style: none;
	margin: 0 auto 5px;
	max-width: 450px;
	padding: 0;

	li {
		padding-left: 24px;
		position: relative;

		&::before {
			color: $green-one;
			content: '\f00c';
			font-family: 'FontAwesome';
			left: 0;
			position: absolute;
		}
	}
}
