@import '../../../../styles/variables.scss';

.hokiSkateboardsInnerContent {
	a {
		text-decoration: none;
	}

	a:hover p.buttonLink {
		color: white;
	}
}

.hokiSkateboardsInnerContentCol {
	border-top: solid 3px $gray-five;
}

.column {
	border-top: 3px solid $gray-five;
}
