@import '../../../../styles/variables.scss';

.hokiSkateboardsInnerContent {
	a {
		text-decoration: none;
	}

	a:hover p.button-link {
		color: white;
	}
}

p.button-link {
	background-color: $blue-three;
	border-radius: 8px;
	display: block;
	font-weight: bold;
	margin: 0 auto 20px;
	max-width: 200px;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}

.hoki-skateboards-inner-content-col {
	border-top: solid 3px $gray-five;
}
