@import '../../styles/variables.scss';

.software-list-switcher {
	margin-bottom: 20px;

	.software-list-switcher-content {
		padding: 10px;
		border: solid 1px $primary;
	}
}

.software-list-switcher-button {
	align-items: center;
	border-radius: 0 0 10px 10px;
	display: flex;
	height: 25px;
	justify-content: center;
	margin: 0 !important;
	padding: 0;
	width: 100px;
}

ul.software-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		margin-right: 10px;
	}
}

ul.software-list-vertical {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;

	$iconW: 40px;

	li {
		margin-bottom: 10px;
		overflow: hidden;

		&:last-child {
			margin-bottom: 0;
		}

		a {
			display: flex;
			align-items: center;
		}

		p {
			line-height: $iconW;
			margin: 0;
		}
	}
}
