.projectHeading {
    margin-bottom: 20px;
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    h2, h3 {
        text-align: center;
        margin: 0;
        padding: 0;
    }
}
p {
    &.list-heading {
        margin: 10px 0 0;
    }
}
ul.projects {
    list-style: none;
    padding: 0;
    margin: 0;
    li.project {
        border-top: solid 1px @gray-one;
        padding: 20px 0;
        margin: 20px 0;
        img {
            &.project-img {
                @media (max-width: 767px) {
                    margin: 0 auto;
                    display: block;
                }
            }
            &.logo {
                .border-radius(50%);
                width: 80px;
                height: 80px;
                margin-bottom: 20px;
            }
        }
        ul {
            list-style: disc;
        }
    }
}
.btn {
    max-width: 200px;
    margin: 20px auto 0;
    display: block;
}
