.filter-section {
    margin-bottom: 20px;
    margin: 0 auto;
    @media (max-width: 767px) {
        width: 230px;
    }
    @media (min-width: 767px) {
        width: 410px;
    }
    .filter-text {
        text-align: center;
        margin: 10px 0 0;
    }
    ul.filters {
        overflow: hidden;
        list-style: none;
        padding: 0;
        margin: 0;
        display: block;
        li {
            float: left;
            width: 50px;
            height: 50px;
            margin-right: 10px;
            cursor: pointer;
            background-image: url("../../../images/icons/tech-icons/tech-icons-filters-inactive.png");
            &:last-child {
                margin-right: 0;
            }
            @media (max-width: 767px) {
                margin-top: 10px;
            }
            &.active {
                background-image: url('../../../images/icons/tech-icons/tech-icons-filters.png');
            }
            &.HTML {
    			background-position: 0 0;
    		}
    		&.JavaScript {
    			background-position: -50px 0;
    		}
    		&.CSS {
    			background-position: -100px 0;
    		}
    		&.jQuery {
    			background-position: -150px 0;
    		}
    		&.AngularJs {
    			background-position: -200px 0;
    		}
    		&.WordPress {
    			background-position: -250px 0;
    		}
    		&.Python {
    			background-position: -300px 0;
    		}
    		&.PHP {
    			background-position: -350px 0;
    		}
    		&.LESS-CSS {
    			background-position: -400px 0;
    		}
    		&.Coffee-Script {
    			background-position: -450px 0;
    		}
        }
    }
}
ul.projects {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.list-item {
    padding: 20px 0;
    margin: 20px 0;
    border-top: solid 1px @gray-one;
    .projectHeading {
        margin-bottom: 20px;
        h2 {
            font-size: 30px;
        }
        h3 {
            font-size: 20px;
        }
        h2, h3 {
            text-align: center;
            margin: 0;
            padding: 0;
        }
    }
    p {
        &.list-heading {
            margin: 10px 0 0;
        }
    }
    img {
        &.project-img {
            @media (max-width: 767px) {
                margin: 0 auto;
                display: block;
            }
        }
        &.logo {
            .border-radius(50%);
            width: 80px;
            height: 80px;
            margin-bottom: 20px;
        }
    }
    .btn {
        max-width: 200px;
        margin: 20px auto 0;
        display: block;
    }
    ul {
        list-style: disc;
    }
}
.grid-item {
    float: left;
    @media (max-width: 767px) {
        width: 50%;
    }
    @media (min-width: 768px) {
        width: 25%;
    }
    position: relative;
    padding: 4px;
    .popup {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        cursor: pointer;
        .popup-inner {
            position: relative;
            height: 100%;
            width: 100%;
            .popup-cont {
                position: absolute;
                top: 30px;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                img {
                    .border-radius(50%);
                    height: 80px;
                    width: 80px;
                    display: block;
                    margin: 0 auto;
                }
                a {
                    display: block;
                    margin: 10px auto 0;
                    width: 60px;
                }
            }
            .popup-overlay {
                background: @gray-three;
                .opacity(0.8);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }
    &:hover > .popup {
        display: block;
    }
}
.projects-container {
    margin: 0 auto;
    &.grid {
        max-width: 800px;
    }
    &.list {
        max-width: 600px;
    }
}
