margin-bottom: 0;
.resume-link {
    padding-bottom: 40px;
    a {
        margin: 20px auto 0;
        display: block;
        width: 160px;
    }
}
h2 {
    text-align: center;
}
.sub-line {
    overflow: hidden;
    margin-bottom: 10px;
    h4 {
        margin: 0;
        float: left;
        font-size: 18px;
    }
    p {
        float: right;
        margin: 0;
    }
}
ul.staggered {
    margin-bottom: 50px;
    li {
        li {
            color: @gray-one;
        }
    }
}
