margin: 0;
h2 {
    text-align: center;
}
.sub-line {
    overflow: hidden;
    margin-bottom: 10px;
    h4 {
        margin: 0;
        float: left;
        font-size: 18px;
    }
    p {
        float: right;
        margin: 0;
    }
}
ul.staggered {
    margin-bottom: 50px;
    li {
        li {
            color: @gray-one;
        }
    }
}
