@use 'styles' as *;

.passionNav {
	display: flex;
	justify-content: center;
	margin: 20px auto;

	@include phone-down {
		margin-left: 16px;
		margin-right: 16px;
	}

	nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;

		@include phone-down {
			max-width: 300px;
		}
	}
}

.navButton {
	@include phone-down {
		flex: 1 1 100%;
		text-align: center;
	}

	background-color: $primary-three;
	border: none;
	border-radius: 0;
	color: $white;
	cursor: pointer;
	font-weight: bold;
	padding: 8px 20px;
	text-decoration: none;

	&:hover {
		background-color: $primary-four;
	}

	&.active {
		background-color: $primary-four;
	}

	@include phone-down {
		border-bottom: solid 1px $primary-four;
	}
}
