@use 'styles' as *;

.passionNav {
	display: flex;
	justify-content: center;

	@include phone-down {
		margin-left: 16px;
		margin-right: 16px;
	}
}

.navButton {
	@include phone-down {
		text-align: center;
	}

	background-color: $primary-three;
	border: none;
	border-radius: 0;
	color: $white;
	cursor: pointer;
	font-weight: bold;
	padding: 8px 20px;
	text-decoration: none;

	&:hover {
		background-color: $primary-four;
	}

	&.active {
		background-color: $primary-four;
	}
}
