@use 'styles' as *;

$button-height: 40px;

.downloadButton {
	align-items: center;
	color: $white;
	display: flex;
	font-size: 16px;
	text-decoration: none;

	@include phone-down {
		margin: 0 auto;
		max-width: 400px;
		width: 100%;
	}

	@include tablet-up {
		width: 200px;
	}

	.buttonText,
	.icon {
		height: $button-height;
		line-height: $button-height;
	}

	.buttonText {
		background: $secondary-three;
		flex: 1;
		text-align: center;
	}

	.icon {
		background: $secondary-four;
		flex: 0 0 $button-height;
		font-size: 16px;
		text-align: center;
		width: $button-height;
	}

	&:hover {
		color: $gray-one;

		.buttonText {
			background: $secondary-four;
		}
		.icon {
			background: $secondary-five;
		}
	}
}
