@import '../../../styles/variables.scss';

.downloadButton {
	font-size: 16px;
	margin-bottom: 2px;
	min-width: 200px;
}

.caption {
	color: $blue-five;
	font-size: 12px;
	margin: 0;
	text-align: center;
}
