body {
    background: @gray-three;
    color: @white;
    a {
        cursor: pointer;
        color: @white;
    }
    p, a, li {
        font-weight: 16px;
    }
    div, section {
        &.center {
            text-align: center;
        }
        &.bold {
            font-weight: bold;
        }
    }
    img {
        max-width: 100%;
        &.center {
            margin: 0 auto;
            display: block;
        }
    }
    section {
        padding: 20px;
        &.white {
            background: @white;
            color: @gray-two;
        }
        &.primary {
            background: @primary;
            color: @white;
        }
        h3 {
            margin: 0 0 20px;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
        }
    }
    .boxed {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 10px;
        &.boxed-sm {
            max-width: 300px;
        }
        &.boxed-md {
            max-width: 600px;
        }
        &.boxed-lg {
            max-width: 900px;
        }
    }
    #container {
        margin: 20px 0;
        h1 {
            text-align: center;
            margin-bottom: 30px;
            font-weight: bold;
        }
    }
}

form {
    input, textarea {
        &.form-control {
            border: none;
            background: @gray-two;
        }
    }
}

.fa {
    border: solid 1px black;
    width: 20px;
    height: 20px;
    display: block;
}
