// Black & White
$white: #ffffff;
$black: #000000;

// Gray
$gray-one: #bbbbbb;
$gray-two: #777777;
$gray-three: #555555;
$gray-four: #404040;
$gray-five: #373737;

// Blue
$blue-zero: #9fb0e8;
$blue-one: #7c8fce;
$blue-two: #5a6fb4;
$blue-three: #415082;
$blue-four: #27314f;
$blue-five: #1b2136;

// Gold
$gold-zero: #efdcab;
$gold-one: #ddc07e;
$gold-two: #c8a452;
$gold-three: #a07f37;
$gold-four: #604c22;
$gold-five: #392c14;

// Terracotta
$terracotta-zero: #e9bba6;
$terracotta-one: #d89a7e;
$terracotta-two: #c27a59;
$terracotta-three: #a05c3d;
$terracotta-four: #623525;
$terracotta-five: #3a2016;

// Green
$green-one: #39b54c;

// Red
$red-one: #f2dede;
$red-two: #a94442;

/*----- Pallets -----*/

// Primary
$primary-zero: $blue-zero;
$primary-one: $blue-one;
$primary-two: $blue-two;
$primary-three: $blue-three;
$primary-four: $blue-four;
$primary-five: $blue-five;

// Secondary
$secondary-zero: $gold-zero;
$secondary-one: $gold-one;
$secondary-two: $gold-two;
$secondary-three: $gold-three;
$secondary-four: $gold-four;
$secondary-five: $gold-five;

// Tertiary
$tertiary-zero: $terracotta-zero;
$tertiary-one: $terracotta-one;
$tertiary-two: $terracotta-two;
$tertiary-three: $terracotta-three;
$tertiary-four: $terracotta-four;
$tertiary-five: $terracotta-five;

/*----- Third Party -----*/

// Bluehost
$bluehost-blue: #1d73da;
