// Black and WHite
@white:           #FFFFFF;
@black:           #000000;

// Grays
@gray-one:        #eeeeee;
@gray-two:        #444444;
@gray-three:      #333333;

// Green
@green-one:      #39B54C;
@green-two:      #1A733B;

// Reds
@red-one:         #f2dede;
@red-two:         #a94442;

// Colors
@primary:         @green-one;
@secondary:       @green-two;
