@use 'styles' as *;

.contactInfoHeader {
	h2 {
		color: $white;
		font-weight: bold;
		margin: 0;
		text-align: center;
	}

	p {
		text-align: center;
	}
}

.name {
	font-size: 20px;
	font-weight: bold;
}
