@use 'styles' as *;

.experienceAffiliatedCompany {
	align-items: center;
	background-color: $gray-three;
	display: flex;
	margin-bottom: 10px;
	padding: 8px;

	p {
		font-size: 16px;
		margin: 0;
	}

	img {
		background-color: $white;
		height: 45px;
		margin-right: 10px;
		width: 45px;
	}
}
