@import '../../../styles/mixins.scss';
@import '../../../styles/responsive.scss';
@import '../../../styles/variables.scss';

.projectContent {
	border-top: solid 1px $gray-one;
	margin: 20px 0;
	padding: 20px 0;
}
