@use 'styles' as *;

.label {
	font-size: 24px;
}

.aiInfoContent {
	background: $secondary-three;
	padding: 20px;
}

.toggleButton {
	@extend %flex-center;
	border-radius: 0 0 10px 10px;
	font-size: 12px;
	height: 25px;
	margin: 0 !important;
	padding: 0 0 3px 0;
	width: 100px;

	svg {
		margin-right: 5px;
	}
}
