@use 'styles' as *;

.howItsMadeLinks {
	display: flex;

	@include phone-down {
		gap: 10px;
		padding: 10px 0;
	}

	@include tablet-up {
		gap: 20px;
		padding: 20px 0;
	}
}

.howItsMadeLinkItem {
	flex: 1;
}
