@import '../../styles/variables.scss';

section.education {
	p {
		font-size: 24px;
		margin: 0;

		&.degree {
			font-weight: bold;
		}

		&.image-caption {
			color: $gray-four;
			font-size: 14px;
		}
	}
}
