@import '../../styles/mixins.scss';
@import '../../styles/responsive.scss';
@import '../../styles/variables.scss';

section.education {
	p {
		font-size: 24px;
		margin: 0;

		&.degree {
			font-weight: bold;
		}

		&.image-caption {
			font-size: 14px;
			color: $gray-three;
		}
	}
}

.text-block {
	margin-bottom: 20px;
}

img.school {
	@include phone-down {
		max-width: 200px;
	}

	@include tablet-up {
		max-width: 250px;
	}
}
