@import '../../../styles/mixins.scss';
@import '../../../styles/responsive.scss';
@import '../../../styles/variables.scss';

#container.projects {
	.project-content {
		border-top: solid 1px $gray-one;
		margin: 20px 0;
		padding: 20px 0;

		.project-heading {
			h2 {
				font-size: 30px;
			}

			h3 {
				font-size: 20px;
				font-weight: normal;
			}

			h2,
			h3 {
				margin: 0;
				padding: 0;
				text-align: center;
			}
		}

		p {
			&.label {
				margin: 10px 0 0;
			}
		}

		img {
			&.project-img {
				@include phone-down {
					display: block;
					margin: 0 auto;
				}
			}

			&.logo {
				@include border-radius(50%);
				height: 80px;
				margin-bottom: 20px;
				width: 80px;

				@include phone-down {
					margin-top: 20px;
				}
			}
		}

		.btn {
			display: block;
			margin: 20px auto 0;
			max-width: 200px;
		}
	}
}
