@import '../../../styles/variables.scss';

.currentTechInterestsComponent {
	h3 {
		font-size: 22px;
		margin: 0 0 16px;
		text-align: left;
	}

	p {
		font-size: 16px;
		line-height: 1.7;
		margin: 0 0 12px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
