@use 'styles' as *;

$iconW: 40px;
$iconW-sm: 34px;

.icon {
	height: $iconW;
	width: $iconW;

	@include phone-sm-down {
		height: $iconW-sm;
		width: $iconW-sm;
	}

	&.circle {
		border-radius: 50%;
	}

	&.rounded {
		border-radius: 22%;
	}

	&.blackAndWhite {
		filter: grayscale(100%);
	}
}
