@use 'styles' as *;

.howItsMadeList {
	h3 {
		margin: 0 0 10px 0;
	}

	ul {
		display: block;
		list-style: none;
		margin: 0 auto;
		padding: 0;
		width: fit-content;
	}

	li {
		padding-left: 24px;
		position: relative;

		&::before {
			color: $green-one;
			content: '\2713';
			left: 0;
			position: absolute;
		}
	}
}
