@import '../../styles/mixins.scss';
@import '../../styles/responsive.scss';

.about-item {
	.read-more {
		text-decoration: underline;
	}

	&.staggered-item {
		.image {
			height: 250px;
			width: 250px;
		}

		.image-container {
			@include tablet-up {
				flex: 1 0 250px;
			}
		}
	}
}

.about-item-image {
	@include border-radius(50%);
	overflow: hidden;
}
