@use 'styles' as *;

.readMoreButton {
	background: none;
	border: none;
	color: $blue-one;
	cursor: pointer;
	font-size: 14px;
	padding: 0;
	text-decoration: underline;

	&:hover {
		color: $blue-two;
	}

	i {
		margin-right: 6px;
	}
}
