@import '../../styles/variables.scss';

.read-more-button {
	background: none;
	border: none;
	color: $blue-one;
	cursor: pointer;
	font-size: 14px;
	padding: 0;
	text-decoration: underline;

	i {
		margin-right: 6px;
	}
}
