@import '../../../styles/responsive.scss';
@import '../../../styles/variables.scss';

#container.resume {
	.tech-divider {
		background: $blue-three;
		border-bottom: solid 3px $gray-five;
		list-style-type: none;
		margin: 100px 0;
		padding: 20px 0;

		@include phone-down {
			margin: 50px 0;
		}

		h2 {
			margin: 0;

			@include phone-down {
				font-size: 30px;
			}
		}
	}
}
