@import '../../styles/responsive.scss';

#container.projects {
	.projects-container {
		max-width: 800px;

		@include phone-down {
			margin: 0 10px;
		}

		@include tablet-up {
			margin: 0 auto;
		}
	}
}
