@import '../../../../styles/responsive.scss';

.projectImageCarousel {
	align-items: center;
	display: flex;
	flex-direction: column;

	@include phone-down {
		margin-bottom: 20px;
	}

	.projectImg {
		cursor: pointer;
	}

	.projectImageCaption {
		font-size: 12px;
		margin: 12px 0 0;
		text-align: center;
	}
}
