.project-image-carousel {
	align-items: center;
	display: flex;
	flex-direction: column;

	.project-img {
		cursor: pointer;
	}

	.project-image-caption {
		font-size: 12px;
		margin: 12px 0 0;
		text-align: center;
	}
}
