@use 'styles' as *;

.subfooter {
	background: $gray-three;
	overflow: hidden;
}

.contactInfo {
	@extend %flex-center;

	@media (min-width: 500px) {
		float: left;
	}
}

.contactLink {
	color: $white;
	line-height: 40px;

	&:hover {
		color: $gray-one;
	}
}

.socialContainer {
	float: left;
}
