@import '../../../styles/variables.scss';

.subfooter {
	background: $gray-three;
	overflow: hidden;
}

.contactInfo {
	@media (min-width: 500px) {
		float: left;
	}
}

.contactLink {
	color: $white;
	line-height: 40px;
}

.socialContainer {
	float: left;
}

.subfooterSocial {
	background: $white;
	color: $blue-four;

	&:hover {
		background: $blue-four;
		color: $white;
	}
}
