@import '../../../styles/variables.scss';

.subfooter {
	background: $gray-three;
	overflow: hidden;
}

.contactInfo {
	@media (min-width: 500px) {
		float: left;
	}
}

.contactLink {
	color: $white;
	line-height: 40px;
}

.subfooterSocial {
	float: left;
	height: 40px;
	line-height: 40px;
}
