@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.findSection {
	margin: 20px auto;
	max-width: 400px;

	input {
		@include border-radius(0);
		@include box-shadow(none);
		border-bottom: solid 1px $gray-four;
		color: $white;
	}
}

.filter-item {
	overflow: hidden;
}

.resultsCount,
.view-controls {
	font-size: 16px;
	margin-top: 10px;
}

.resultsCount {
	float: left;
}

.view-controls {
	cursor: pointer;
	text-align: right;
}
