@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/responsive.scss';

.logo {
	@include border-radius(50%);
	height: 80px;
	margin-bottom: 20px;
	width: 80px;
}

.readMoreButton {
	color: $blue-zero;
}
