@use 'styles' as *;

.techCatalogueHeader {
	align-items: center;
	background: $primary;
	border: none;
	color: $white;
	cursor: pointer;
	display: flex;
	font-size: 14px;
	font-weight: bold;
	justify-content: space-between;
	transition: background 0.3s ease;
	width: 100%;

	&:hover {
		background: $secondary;
	}
}
