@import '../../../styles/variables.scss';

.tech-catalogue-header {
	align-items: center;
	background: $blue-three;
	border: none;
	color: $white;
	cursor: pointer;
	display: flex;
	font-size: 14px;
	font-weight: bold;
	justify-content: space-between;
	width: 100%;
}
