@use 'styles' as *;

$border-color: $primary-two;
$border-width: 5px;

.videoButtonContents {
	border: $border-width solid $border-color;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
}

.videoButtonContainer {
	background: none;
	cursor: pointer;
	display: inline-block;
	padding: 0;
	position: relative;

	&:hover .videoButtonContents {
		border-color: $primary-four;
	}

	&:hover .videoButtonIcon {
		background: $primary-four;
		border-color: $primary-four;
	}
}

.videoButtonImage {
	@include circle(100%);
	object-fit: cover;
	overflow: hidden;
	width: 100%;
}

.videoButtonIcon {
	@extend %flex-center;
	background: $primary-three;
	border: $border-width solid $border-color;
	border-radius: 50%;
	bottom: 0;
	color: $white;
	position: absolute;
	right: 0;
	z-index: $z-index-video-button-icon;
}
