@import '../../styles/variables.scss';

$border-color: $blue-two;
$border-width: 5px;

.videoButtonContents {
	border: $border-width solid $border-color;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
}

.videoButtonContainer {
	background: none;
	cursor: pointer;
	display: inline-block;
	padding: 0;
	position: relative;
	transition: border-color 0.2s ease;

	&:hover .videoButtonContents {
		border-color: $blue-four;
	}

	&:hover .videoButtonIcon {
		background: $blue-four;
		border-color: $blue-four;
	}
}

.videoButtonImage {
	border-radius: 50%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	width: 100%;
}

.videoButtonIcon {
	align-items: center;
	background: $blue-three;
	border: $border-width solid $border-color;
	border-radius: 50%;
	bottom: 0;
	color: $white;
	display: flex;
	justify-content: center;
	position: absolute;
	right: 0;
	z-index: 101;
}
