@use 'styles' as *;

.resumeButtons {
	display: flex;
	justify-content: center;

	@include phone-down {
		flex-direction: column;
		gap: 10px;
	}

	@include tablet-up {
		flex-direction: row;
		gap: 20px;
	}
}

.caption {
	color: $white;
	font-size: 12px;
	margin: 0;
	margin-bottom: 2px;
	text-align: center;
}
