@use 'styles' as *;

$gapPhone: 10px;
$gapTablet: 20px;

.resumeButtons {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0 auto;

	@include phone-down {
		gap: $gapPhone;
		max-width: 400px;
	}

	@include tablet-up {
		gap: $gapTablet;
		max-width: 600px;
	}
}

.heroRow,
.secondaryRow {
	@include flex-center;
	width: 100%;
}

.heroRow {
	max-width: 400px;
}

.secondaryRow {
	@include phone-down {
		flex-direction: column;
		gap: $gapPhone;
		width: 100%;
	}

	@include tablet-up {
		flex-direction: row;
		gap: $gapTablet;
	}
}
