@use 'styles' as *;

.header {
	background: $primary-four;
	color: $white;

	@include tablet-up {
		height: 60px;
	}
}

.inner {
	@include tablet-up {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: space-between;
	}
}
