@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.menu-btn {
	@include tablet-up {
		display: none;
	}

	.mobileMenuIcon {
		cursor: pointer;
		font-size: 30px;
		line-height: 60px;
		position: absolute;
		right: 20px;
		top: 0;
	}
}

.nav {
	$fullMobileNavHeight: 645px;
	$mobileNavAnimSpeed: 0.7s;

	@include phone-down {
		li:last-child {
			margin-bottom: 15px;
		}

		@include transition(max-height $mobileNavAnimSpeed);

		&.open {
			max-height: $fullMobileNavHeight;
		}

		&:not(.open) {
			max-height: 0;
		}
	}

	@include tablet-up {
		float: right;
	}

	li {
		line-height: 60px;

		@include tablet-up {
			float: left;
		}
	}

	a {
		display: block;
		font-size: 20px;
		font-weight: bold;
		padding: 0 20px;
		text-decoration: none;

		&:focus,
		&:hover,
		&.active {
			background: $primary;
			color: white;
		}
	}
}
