@import '../../../styles/variables.scss';
@import '../../../styles/responsive.scss';

.staggered-item {
	display: flex;
	list-style: none;
	padding: 25px 0;

	&:not(:last-child) {
		border-bottom: solid 3px $gray-five;
	}

	@include phone-down {
		display: block;
		justify-content: center;
		margin: 0 auto 20px;
		max-width: 600px;
	}

	.image-container {
		@include phone-down {
			margin-bottom: 20px;
		}
	}

	@include tablet-up {
		&:nth-child(even) {
			flex-direction: row-reverse;
		}

		&:nth-child(odd) {
			flex-direction: row;
		}
	}
}
