$iconW: 40px;

.techCatalogueIcon {
	height: $iconW;
	width: $iconW;

	&.techCatalogueIconCircle {
		border-radius: 50%;
	}

	&.softwareCatalogueIconRounded {
		border-radius: 22%;
	}
}

.label {
	font-size: 14px;
	line-height: $iconW;
	line-height: 18px;
	margin: 0 0 0 10px;
}
