@import '../../../styles/responsive.scss';

.timpanogos {
	p.label {
		font-size: 14px;
		font-weight: bold;
		text-align: left;
	}

	p.activities {
		font-size: 14px;
		text-align: left;
	}
}

.school {
	@include phone-down {
		max-width: 200px;
	}

	@include tablet-up {
		max-width: 250px;
	}
}
