@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/responsive.scss';

.navigation {
	$fullMobileNavHeight: 645px;
	$mobileNavAnimSpeed: 0.7s;
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;

	@include phone-down {
		overflow: hidden;

		li:last-child {
			margin-bottom: 15px;
		}

		@include transition(max-height $mobileNavAnimSpeed);

		&.open {
			max-height: $fullMobileNavHeight;
		}

		&:not(.open) {
			max-height: 0;
		}
	}

	@include tablet-up {
		display: flex;
		float: right;
	}

	li {
		line-height: 60px;

		@include phone-down {
			display: block;
		}
	}

	a {
		display: block;
		font-size: 16px;
		font-weight: bold;
		padding: 0 10px;
		text-decoration: none;

		// `active` is added globally by react-router's NavLink, so it must not be
		// hashed.
		&:focus,
		&:hover {
			background: $primary;
			color: white;
		}
	}
}

a {
	&.active {
		background: $primary;
		color: white;
	}
}
