@use 'styles' as *;

.howItsMadeLinks {
	@extend %flex-center;
	gap: 20px;

	p {
		margin: 0;
		text-align: center;
	}
}

.howItsMadeLinkLabel {
	color: $white;
	font-size: 16px;
}

.howItsMadeLinkDescription {
	color: $gray-one;
	font-size: 12px;
}

.howItsMadeLink {
	color: $white;
	flex-direction: column;
	text-decoration: none;

	svg {
		font-size: 40px;
		margin-bottom: 5px;
	}

	&:hover {
		svg {
			color: $gray-one;
		}

		.howItsMadeLinkLabel {
			color: $primary-one;
		}

		.howItsMadeLinkDescription {
			color: $gray-two;
		}
	}
}
