@use 'styles' as *;

$gap: 12px;

.projects {
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;

	&.projectsGrid {
		display: grid;
		gap: $gap;
	}

	&.projectsGridTwo {
		grid-template-columns: 1fr 1fr;
	}

	&.projectsGridThree {
		grid-template-columns: 1fr 1fr 1fr;
	}

	&.projectsList {
		display: flex;
		row-gap: $gap;
	}
}
