@use 'styles' as *;

$gap: 12px;
$item-max-width: 250px;
$two-col-breakpoint: #{$item-max-width * 2 + $gap * 3};

.projects {
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	margin: 0 0 20px 0;
	overflow: hidden;
	padding: 0;

	&.projectsGrid {
		display: grid;
		gap: $gap;
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;

		@media (min-width: $two-col-breakpoint) {
			grid-template-columns: repeat(auto-fill, $item-max-width);
		}
	}

	&.projectsList {
		display: flex;
		row-gap: $gap;
	}
}
