@use 'styles' as *;
@use '../../Filter.variables' as *;

.iconContainer {
	align-items: center;
	background: $gray-three;
	cursor: pointer;
	display: flex;
	height: $filter-height;
	justify-content: center;
	width: $filter-height;
}

.icon {
	font-size: 26px;
}
