@use 'styles' as *;
@use '../../Filter.variables' as *;

.iconContainer {
	@extend %flex-center;
	background: $gray-three;
	cursor: pointer;
	height: $filter-height;
	width: $filter-height;
}

.icon {
	font-size: 26px;
}
