@import '../../styles/mixins.scss';
@import '../../styles/responsive.scss';
@import '../../styles/variables.scss';

#container.resume {
	h2 {
		font-size: 50px;
		text-align: center;
	}

	.sub-line {
		margin-bottom: 10px;
		overflow: hidden;

		@include tablet-up {
			display: flex;
			justify-content: space-between;
		}

		h4 {
			font-size: 18px;
			margin: 0;
			text-align: left;
		}

		.date {
			margin: 0;

			@include phone-down {
				color: $gray-one;
				font-size: 14px;
			}

			@include tablet-up {
				display: flex;
				justify-content: space-between;
			}
		}
	}
}
