@import '../../styles/mixins.scss';
@import '../../styles/responsive.scss';
@import '../../styles/variables.scss';

#container.resume {
	h2 {
		text-align: center;
	}

	section.experience {
		p.details {
			color: $gray-one;
		}
	}

	.sub-line {
		margin-bottom: 10px;
		overflow: hidden;

		h4 {
			float: left;
			font-size: 18px;
			margin: 0;
		}

		p {
			float: right;
			margin: 0;
		}
	}
}
