#footer {
    background: @secondary;
	height: 60px;
    position: relative;

    p {
		line-height: 18px;
        margin: 0;

        @media (max-width: 499px) {
			margin: 0 auto;
			padding-top: 12px;
            width: 185px;
        }

        @media (min-width: 500px) {
            padding-top: 20px;
        }
    }

    i {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 20px;
    }
}

#subFooter {
    background: @gray-two;
    overflow: hidden;

    .contact-info {
		margin: 10px;

        @media (max-width: 499px) {
		}

        @media (min-width: 500px) {
            float: left;
        }
    }

    .social-icons {
        float: left;
        height: 40px;
        line-height: 40px;

        @media (max-width: 499px) {
        }

        @media (min-width: 500px) {
        }
    }

    a.contact-link {
        color: @white;
        line-height: 40px;
        margin-left: 20px;
    }

    .affiliates {
		background: #1d73da;

        @media (max-width: 499px) {
            padding: 5px 0;
        }

        @media (min-width: 500px) {
			float: right;
			padding: 10px;
        }

        img {
            @media (max-width: 499px) {
                display: block;
                margin: 0 auto;
            }
        }
    }
}
