@import '../../../styles/variables.scss';

.tech-list-vertical {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		margin-bottom: 10px;
	}

	$iconW: 40px;

	.tech-icon-holder {
		float: left;
	}
}
