@import '../../../../styles/responsive.scss';

.menuBtn {
	@include tablet-up {
		display: none;
	}
}

.mobileMenuIcon {
	cursor: pointer;
	font-size: 30px;
	line-height: 60px;
	position: absolute;
	right: 20px;
	top: 0;
}
