@use 'styles' as *;

.menuBtn {
	@media (min-width: $nav-breakpoint) {
		display: none;
	}
}

.mobileMenuIcon {
	cursor: pointer;
	font-size: 30px;
	line-height: 60px;
	position: absolute;
	right: 20px;
	top: 15px;
}
