@import '../../../../styles/variables.scss';

.current-filter {
	align-items: center;
	border: solid 1px $gray-two;
	display: flex;
	justify-content: space-between;
	padding: 10px;

	i {
		font-size: 26px;
	}

	.tech-container {
		align-items: center;
		display: flex;

		.current-filter-tech-icon {
			margin-right: 20px;
		}
	}

	p {
		margin: 0;
	}
}
