@import '../../../../styles/variables.scss';

.currentFilter {
	align-items: center;
	border: solid 1px $gray-two;
	display: flex;
	justify-content: space-between;
	padding: 10px;

	i {
		font-size: 26px;
	}

	.techContainer {
		align-items: center;
		display: flex;

		.currentFilterTechIcon {
			margin-right: 20px;
		}
	}

	p {
		margin: 0;
	}
}
