@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.image-modal {
	align-items: center;
	background: rgba(0, 0, 0, 0.9);
	display: block;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;

	$buttonSize: 50px;
	.close-icon {
		@include border-radius(50%);
		background: black;
		border: none;
		cursor: pointer;
		position: fixed;
		right: 20px;
		width: $buttonSize;
		height: $buttonSize;
		text-align: center;
		top: 15px;

		i {
			color: $white;
			font-size: 40px;
		}
	}

	.image-modal-inner {
		position: relative;
	}
}
