@import '../../../../../styles/variables.scss';

.filterClean {
	border: solid 1px $gray-two;
	display: flex;
	height: 60px;
	justify-content: space-between;
	line-height: 60px;
	padding: 0 20px;

	i {
		line-height: 60px;
	}
}
