@use 'styles' as *;

%caption-base {
	background: rgba(0, 0, 0, 0.75);
	bottom: 0;
	color: white;
	left: 0;
	margin: 0;
	position: absolute;
	right: 0;
	z-index: $z-index-image-caption;
}

%icon-button-base {
	align-items: center;
	background: rgba(0, 0, 0, 0.6);
	border: none;
	border-radius: 50%;
	box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.5);
	color: white;
	cursor: pointer;
	display: flex;
	justify-content: center;
	position: absolute;
	z-index: $z-index-image-caption-button;
}

.sm {
	@extend %caption-base;
	font-size: 12px;
	min-height: 36px;
	padding: 8px 40px 8px 10px;

	.iconButton {
		@extend %icon-button-base;
		font-size: 11px;
		height: 24px;
		right: 8px;
		top: 8px;
		width: 24px;
	}
}

.lg {
	@extend %caption-base;
	font-size: 24px;
	min-height: 72px;
	padding: 16px 80px 16px 20px;

	.iconButton {
		@extend %icon-button-base;
		font-size: 22px;
		height: 48px;
		right: 16px;
		top: 16px;
		width: 48px;
	}
}

.iconButtonBottom {
	@extend %icon-button-base;
	bottom: 8px;
	font-size: 11px;
	height: 24px;
	right: 8px;
	width: 24px;
}

.iconButtonBottomLg {
	@extend %icon-button-base;
	bottom: 16px;
	font-size: 22px;
	height: 48px;
	right: 16px;
	width: 48px;
}
