@import '../../../styles/variables.scss';

.hoki-skateboards-inner-content {
	margin-bottom: 20px;

	p.button-link {
		background-color: $blue-three;
		border-radius: 8px;
		display: block;
		font-weight: bold;
		margin: 0 auto 20px;
		max-width: 200px;
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
	}

	.hoki-skateboards-inner-content-col {
		border-top: solid 1px $gray-four;
		padding-top: 20px;
	}

	a {
		text-decoration: none;
	}

	a:hover p.button-link {
		color: white;
	}

	img.product-image {
		height: auto;
		margin: 0 auto 10px;
		max-width: 300px;
		width: 100%;
	}
}
