@import '../../../styles/variables.scss';

.hokiSkateboardsInner {
	margin: 0 auto;
	max-width: 600px;
}

.mainImage {
	display: block;
	margin: 0 auto 10px;
	width: fit-content;
}

.passionProjectDescription {
	text-align: center;
}
