@import '../../../styles/variables.scss';

.hoki-skateboards-inner {
	margin: 0 auto;
	max-width: 600px;
}

.main-image {
	display: block;
	margin: 0 auto 10px;
	width: fit-content;
}

.passion-project-description {
	text-align: center;
}
