@import '../../../styles/variables.scss';

.hoki-skateboards {
	padding: 20px;

	.hoki-skateboards-inner {
		margin: 0 auto;
		max-width: 600px;
	}

	@import './App.scss';
	@import './Content.scss';
	@import './Logo.scss';
	@import './Title.scss';
}
