@import '../../../styles/variables.scss';

.app-section {
	p {
		max-width: 300px;
		margin: 0 auto 20px;
	}

	.tech-container {
		display: flex;
		justify-content: center;
	}

	.app-icon {
		display: block;
		margin: 0 auto 10px;
	}

	.app-badges {
		align-items: center;
		display: flex;
		justify-content: center;

		img {
			width: auto;
		}
		img.apple-badge {
			height: 50px;
		}
		img.google-badge {
			height: 75px;
		}
	}

	p.copyright {
		color: $gray-one;
		font-size: 10px;
		margin-top: 20px;
		text-align: center;
	}
}
