@import '../../styles/variables.scss';

.tech-list-switcher {
	margin-bottom: 20px;

	.tech-list-switcher-content {
		border: solid 1px $primary;
		padding: 10px;
	}
}

.tech-list-switcher-button {
	align-items: center;
	border-radius: 0px 0px 10px 10px;
	display: flex;
	height: 25px;
	justify-content: center;
	margin: 0 !important;
	padding: 0;
	width: 100px;
}
