@import '../../../styles/responsive.scss';

.projectsGrid {
	list-style: none;
	margin: 0 auto 60px;
	overflow: hidden;
	padding: 0;
}

.results1 {
	max-width: 250px;

	.gridItem {
		width: 100%;
	}
}

.results2 {
	max-width: 500px;

	.gridItem {
		width: 50%;
	}
}

.results3 {
	max-width: 750px;

	.gridItem {
		width: 33.33333333%;
	}
}

.results2,
.results3,
.resultsFull {
	@media (max-width: 349px) {
		max-width: 250px;

		.gridItem {
			width: 100%;
		}
	}

	@media (min-width: 350px) and (max-width: 499px) {
		max-width: 500px;

		.gridItem {
			width: 50%;
		}
	}
}

.resultsFull {
	@media (min-width: 500px) and (max-width: 767px) {
		max-width: 750px;

		.gridItem {
			width: 33.33333333%;
		}
	}

	@include tablet-up {
		.gridItem {
			@include tablet-up {
				width: 25%;
			}
		}
	}
}

.projectsList {
	list-style: none;
	margin: 0 auto 60px;
	overflow: hidden;
	padding: 0;
}
