.tech-icon {
	$iconW: 40px;

	border-radius: 50%;
	height: $iconW;
	width: $iconW;

	&.tech-html {
		background-image: url('../../images/icons//tech-icons/html.jpg');
	}
	&.tech-javascript {
		background-image: url('../../images/icons/tech-icons/javascript.jpg');
	}
	&.tech-css {
		background-image: url('../../images/icons/tech-icons/css.jpg');
	}
	&.tech-jquery {
		background-image: url('../../images/icons/tech-icons/jquery.jpg');
	}
	&.tech-angularjs {
		background-image: url('../../images/icons/tech-icons/angular-js.jpg');
	}

	&.tech-wordpress {
		background-image: url('../../images/icons/tech-icons/wordpress.jpg');
	}
	&.tech-python {
		background-image: url('../../images/icons/tech-icons/python.jpg');
	}
	&.tech-php {
		background-image: url('../../images/icons/tech-icons/php.jpg');
	}
	&.tech-less-css {
		background-image: url('../../images/icons/tech-icons/less-css.jpg');
	}
	&.tech-coffee-script {
		background-image: url('../../images/icons/tech-icons/coffee-script.jpg');
	}

	&.tech-reactjs {
		background-image: url('../../images/icons/tech-icons/react-js.jpg');
	}
	&.tech-redux {
		background-image: url('../../images/icons/tech-icons/redux.jpg');
	}
	&.tech-sql {
		background-image: url('../../images/icons/tech-icons/sql.jpg');
	}
	&.tech-amp-bind {
		background-image: url('../../images/icons/tech-icons/amp-bind.jpg');
	}
	&.tech-handlebarsjs {
		background-image: url('../../images/icons/tech-icons/handlebars-js.jpg');
	}

	&.tech-django {
		background-image: url('../../images/icons/tech-icons/django.jpg');
	}
	&.tech-grunt {
		background-image: url('../../images/icons/tech-icons/grunt.jpg');
	}
	&.tech-webpack {
		background-image: url('../../images/icons/tech-icons/webpack.jpg');
	}
	&.tech-nodejs {
		background-image: url('../../images/icons/tech-icons/node-js.jpg');
	}
	&.tech-scss {
		background-image: url('../../images/icons/tech-icons/sass.jpg');
	}
}
