@use 'styles' as *;
@use './FeaturedProjectsList.variables' as *;

.featuredProjectItem {
	@media (max-width: #{$featured-projects-large - 1}) {
		// Disable navigation on mobile.
		a {
			cursor: default;
			pointer-events: none;
		}

		&:first-child {
			float: left;
		}

		&:nth-child(2) {
			@include box-shadow(0 0 20px 0 #000000);
			left: 50%;
			position: absolute;
			top: 0;
			z-index: 1;
		}

		&:last-child {
			float: right;
		}

		// Small mobile
		@media (max-width: #{$featured-projects-medium - 1}) {
			&:nth-child(2) {
				margin-left: -75px;
				width: 150px;
			}

			&:first-child,
			&:last-child {
				margin: 20px 0;
				width: 100px;
			}
		}

		// Medium
		@media (min-width: $featured-projects-medium) and (max-width: #{$featured-projects-large - 1}) {
			&:nth-child(2) {
				margin-left: -110px;
				width: 220px;
			}

			&:first-child,
			&:last-child {
				margin: 30px 0;
				width: 150px;
			}
		}
	}

	@media (min-width: $featured-projects-large) {
		flex-shrink: 0;
	}

	img {
		@extend %centered-block;

		@media (max-width: #{$featured-projects-large - 1}) {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}
}

.projectHeader {
	height: 50px;
	margin-bottom: 10px;
	position: relative;

	@media (max-width: #{$featured-projects-large - 1}) {
		display: none;
	}
}

.projectHeaderInner {
	bottom: 0;
	position: absolute;
	width: 100%;

	h3,
	h4 {
		margin: 0;
		text-align: center;
	}

	h3 {
		font-size: 22px;
	}

	h4 {
		color: $gray-one;
		font-size: 14px;
	}
}
