@import '../../../../../styles/variables.scss';

.buttonLink {
	background-color: $blue-three;
	border-radius: 8px;
	display: block;
	font-weight: bold;
	margin: 0 auto 20px;
	max-width: 200px;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}
