@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.modalArrow {
	$size: 50px;
	@include border-radius(50%);
	align-items: center;
	background: black;
	border: none;
	cursor: pointer;
	display: flex;
	height: $size;
	justify-content: center;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	width: $size;

	i {
		color: $white;
		font-size: 30px;
	}

	&:hover {
		i {
			color: $gray-one;
		}
	}

	&.prev {
		left: 20px;
	}

	&.next {
		right: 20px;
	}
}
