@use 'styles' as *;

.modalArrow {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	z-index: $z-index-modal-arrow;

	svg {
		color: $white;
		font-size: 30px;
	}

	&:hover {
		svg {
			color: $gray-one;
		}
	}

	&.prev {
		left: 20px;
	}

	&.next {
		right: 20px;
	}
}
