@use 'styles' as *;

.experienceImage {
	background-color: white;
}

.staggeredItemImage {
	@extend %centered-block;
	overflow: hidden;
}

.imageContainer {
	margin-bottom: 20px;

	@include tablet-up {
		flex: 1 0 200px;
	}
}
