@import '../../../styles/responsive.scss';
@import '../../../styles/variables.scss';

.experienceImage {
	background-color: white;
}

.staggeredItemImage {
	display: block;
	margin: 0 auto;
	overflow: hidden;
}

.imageContainer {
	margin-bottom: 20px;

	@include tablet-up {
		flex: 1 0 200px;
	}
}
