@use 'styles' as *;

$size: 32px;

.socialIcons {
	align-items: center;
	display: flex;
	gap: 10px;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		height: $size;
		width: $size;
	}
}

.link {
	@include border-radius(50%);
	cursor: pointer;
	display: block;
	height: 100%;
	line-height: $size;
	text-align: center;
	width: 100%;

	&:not(.reverse) {
		background: $blue-three;
		color: $white;

		&:hover {
			background: $blue-four;
		}
	}

	&.reverse {
		background: $white;
		color: $blue-four;

		&:hover {
			background: $blue-four;
			color: $white;
		}
	}

	i {
		font-size: 16px;
	}
}
