@import '../../styles/mixins.scss';
@import '../../styles/responsive.scss';
@import '../../styles/variables.scss';

$size: 32px;

.socialIcons {
	align-items: center;
	display: flex;
	gap: 10px;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		height: $size;
		width: $size;
	}
}

.link {
	@include border-radius(50%);
	background: $blue-three;
	color: $white;
	cursor: pointer;
	display: block;
	height: 100%;
	line-height: $size;
	text-align: center;
	width: 100%;

	&:hover {
		background: $blue-four;
	}

	i {
		font-size: 16px;
	}
}
