@use 'styles' as *;

$size: 32px;

.socialIcons {
	@extend %flex-center;
	gap: 10px;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		height: $size;
		width: $size;
	}
}

.link {
	border-radius: 50%;
	cursor: pointer;
	display: block;
	height: 100%;
	line-height: $size;
	text-align: center;
	width: 100%;

	&:not(.reverse) {
		background: $primary-three;
		color: $white;

		&:hover {
			background: $primary-four;
		}
	}

	&.reverse {
		background: $white;
		color: $primary-four;

		&:hover {
			background: $primary-four;
			color: $white;
		}
	}

	svg {
		font-size: 16px;
	}
}
