@use 'styles' as *;

.videoModal {
	@include flex-center;
	background: rgba(0, 0, 0, 0.9);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $z-index-modal;
}

.videoModalInner {
	position: relative;
}

.videoModalPlayer {
	max-height: 90vh;
	max-width: 90vw;
}

.videoModalClose {
	$size: 50px;
	background: black;
	border: none;

	border-radius: 50%;
	cursor: pointer;
	height: $size;
	position: fixed;
	right: 20px;
	text-align: center;
	top: 15px;
	width: $size;

	svg {
		color: $white;
		font-size: 40px;
	}
}
